<div class="dish">
  <h2> <%= @dish.name.titleize %> </h2>

  <p> <%= @dish.description %> </p>

  <h4> Ingredients </h4>
  <div class="dish-ingredients">
    <% @dish.ingredients.each do |ing| %>
      <%= link_to ing.name, chef_ingredient_path(@dish.chef, ing) %>
    <% end %>
  </div>
<br>  Calorie Count: <%= @dish.calorie_count %>
<br>  Dish Belongs to: <%= @dish.chef.name %>
</div>